fastapi

uvicorn[standard]

pymongo[srv]

python-dotenv

passlib
bcrypt==4.0.1

python-jose[cryptography]

python-multipart

opencv-python

mediapipe

numpy

scipy

librosa

joblib

pandas

google-genai